body{
    background-size: cover;
    font-family: sans-serif;
}

.heading{
    width: 100%;
    font-size: 30px;
    margin-top: 0px;
}

.note{
    color: black;
    font-size: 15px;
}

canvas {
    background-color: #000000;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #73cfd8;
    margin-top: 150px;

}